* {
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", sans-serif;
  background-color: rosybrown;
}

.container {
  max-width: 1024px;
  display: grid;
  grid-template-areas:
    'header header header header'
    'main main main aside'
    'footer footer footer footer';
  grid-gap: 10px;
  margin: 0 auto;
  padding: 10px;
}

header {
  grid-area: header;
  padding: 15px;
  text-align: center;
  background-color: rgb(158, 101, 101);
}

.blog_title img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.blog_title h1 {
  text-transform: uppercase;
  text-decoration: none;
  color: #f3e1e1;
  font-size: 50px;
  margin: 10px;
}

.blog_title p {
  color: rgb(61, 16, 16);
}

nav {
  margin: 30px 0 10px;
}

nav a {
  text-transform: uppercase;
  background-color: #f3e1e1;
  color: rgb(138, 80, 80);
  font-size: 19px;
  margin: 5px;
  padding: 10px;
}

nav a:hover {
  background-color: #fff;
  text-decoration: none;
}

nav a:active {
  background-color: rgb(138, 80, 80);
  color: #fff;
}

main {
  grid-area: main;
  max-width: 700px;
  background-color: rgb(177, 104, 104);
  padding: 15px;
}

article {
  margin: 0 0 30px;
}

article h2, h5 {
  margin: 7px 0px;
  color: #f3e1e1;
}

article img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  opacity: 0.8;
  margin: 10px 0px 5px;
}

article img:hover {
  opacity: 1;
}

article p {
  color: #ffeaea;
  
}

article a {
  color: white;
}

article a:hover {
  text-decoration: none;
}

aside {
  grid-area: aside;
  background-color: #c99797;
  padding: 10px;
}

aside h2 {
  background-color: rgb(177, 104, 104);
  margin: 7px 0px;
  color: #f3e1e1;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0;
  margin: 0 0 20px;
}

.card {
  margin: 0 0 30px;
}

.card h3 {
  color: rgb(129, 65, 65);
  text-align: center;
  margin: 20px 0px 10px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 0px;
}

.card p {
  color: rgb(100, 41, 41);
  margin: 5px 0;
  font-size: 15px;
  text-align: justify;
}

.card a {
  color: rgb(100, 41, 41);
}

.card a:hover {
  text-decoration: none;
}

.social {
  width: 23.5%;
  padding: 0px 5px;
  opacity: 0.7;
}

.social:hover {
  opacity: 1;
}


input[type=text], placeholder {
  width: 100%; 
  background-color: #f3e1e1;
  color: rgb(100, 41, 41);
  border: 0px;
  padding: 10px;
  box-sizing: border-box; 
  margin: 5px 0px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(100, 41, 41);
  color: #f3e1e1;
  font-weight: bold;
  padding: 12px 20px;
  width: 100%;
  margin: 5px 0px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f3e1e1;
  color: rgb(100, 41, 41);
}

footer {
  grid-area: footer;
  background-color: rgb(158, 101, 101);
  text-align: center;
  margin: 0;
  padding: 0;
}

footer h3 {
  margin: 15px 15px 0;
  color: #f3e1e1;
}

.follow_me {
  width: 50px;
  padding: 0px 5px;
  margin: 15px 0px 5px;
}

.useful {
  width: auto;
 margin: 10px 15px 15px;
}

.useful a {
  display: inline-block;
  color: white;
  padding: 5px;
}

.useful a:hover {
  text-decoration: none;
}

.copyright {
  width: 100%;
  background-color: #f3e1e1;
  color: rgb(100, 41, 41);
  padding: 15px 15px;
}

.copyright p {
  margin: 0;
  padding: 0;
}

.copyright a {
  color: rgb(100, 41, 41);
}

.copyright a:hover {
  text-decoration: none;
}


@media (max-width: 1100px) {
  .container {
    display: grid;
    grid-template-areas:
      'header header header header'
      'main main main aside'
      'footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-areas:
      'header'
      'main'
      'aside'
      'footer';
    grid-gap: 10px;
    padding: 10px;
  }

  .blog_title h1 {
    font-size: 40px;
  }

  nav a {
    font-size: 18px;
    padding: 8px;
  }

  main {
    max-width: 768px;
  }
}

@media (max-width: 460px) {
  nav a {
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 7px;
  }

  .blog_title h1 {
    font-size: 35px;
  }
}